---
import IndexLynxWebpage from '../components/index.lynx.webpage.astro';
import Layout from '../layouts/Layout.astro';
import HeaderLynx from '../components/header.lynx.astro';
import Footer from '../components/Footer.astro';
import CookieBanner from '../components/CookieBanner.astro';

---

<Layout>
    <title>[Lynx] Inled Group | We make a better World</title>
    <meta name="description" content="Descubre nuestra página web compatible con Lynx">
	<HeaderLynx />
	<IndexLynxWebpage />
	<Footer />
	<CookieBanner />
</Layout>
