---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Inlinked1 from '../components/Inlinked1.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
    <title>inLinked | Inled Group</title>
    <meta name="description" content="Formateador de tetxo para LinkedIN privado, gratuito y potente.">
    <Header />
    <Inlinked1 />
    <Footer />
</Layout>
