---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

---
<Layout>
    <Header />
    <title>Condición legal | Inled Group</title>
    <meta name="description" content="Nos importa tu privacidad. Por ello queremos que sepas lo que hacemos con tus datos.">
<h1 class="wemake-start">Condición legal</h1>
<p>Actualmente, a fecha de 2025, Inled Group, marca registrada, no ofrece servicios de pago al público en general.</p>
<p>Este sitio ofrece servicios en línea 100% gratuitos y lista aquellos otros que se ofrecen a <strong>conocidos</strong>.</p>
<p>Por tanto, Inled Group no ofrece servicios de pago al público en general, solo servicios gratuitos y el sitio web sirve a modo de lista de servicios a conocidos.</p>
<p></p>
<Footer />
</Layout>