---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Ltla from '../components/Ltla.astro';
import Footer from '../components/Footer.astro';

---
<Layout>
    <title>Launch the launcher | Inled Group</title>
    <meta name="description" content="Tutoriales de informática para personas. Informática orientada a la educación y otros temas.">
    <Header />
    <Ltla />
    <Footer />
</Layout>