---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import MdPDF from '../components/MdPDF.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
    <title>MDPDF | Inled Group</title>
    <meta name="description" content="Markdown to PDF editor. Free MD editor.">
    <Header />
    <MdPDF />
    <Footer />
</Layout>
