---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

---
<Layout>
    <Header />
    <title>Política de privacidad | Inled Group</title>
    <meta name="description" content="Nos importa tu privacidad. Por ello queremos que sepas lo que hacemos con tus datos.">
<h1 class="wemake-start">Política de privacidad</h1>
<h1>Quiénes somos</h1><div>La dirección de nuestra web es: https://inled.es y https://InledGroup.github.io/</div><div><br></div><div>Ofrecemos acceso a proyectos, creados para hacer una web mejor.</div><div><br></div><h2>Qué tecnologías usamos</h2><div>Nos asociamos con Microsoft Clarity para recopilar información sobre cómo usa e interactúa con nuestro sitio web mediante métricas de comportamiento, mapas de calor y reproducción de sesiones para mejorar y comercializar nuestros productos y servicios. Los datos de uso del sitio web se recopilan mediante cookies propias y de terceros, así como otras tecnologías de seguimiento, para determinar la popularidad de los productos y servicios, así como la actividad en línea. Además, utilizamos esta información para la optimización del sitio web, la prevención del fraude y la seguridad, y la publicidad. Para obtener más información sobre cómo Microsoft recopila y utiliza sus datos, visite la <a href="https://www.microsoft.com/es-es/privacy/privacystatement">Declaración de privacidad de Microsoft.</a></div><div><br></div><div><br></div><div><br></div><div><br></div><h2>Contenido incrustado de otros sitios web</h2><div>Los artículos de este sitio pueden incluir contenido incrustado (por ejemplo, vídeos, imágenes, artículos, etc.). El contenido incrustado de otras webs se comporta exactamente de la misma manera que si el visitante hubiera visitado la otra web.</div><div><br></div><div>Estas web pueden recopilar datos sobre ti, utilizar cookies, incrustar un seguimiento adicional de terceros, y supervisar tu interacción con ese contenido incrustado, incluido el seguimiento de tu interacción con el contenido incrustado si tienes una cuenta y estás conectado a esa web.</div><h2><br>Aplicación</h2><div>Se aplicará esta política en el momento que se haga uso de las funciones nombradas.</div><div><br></div><div>El usuario es responsable de su comportamiento en la web y cualquier infracción será denunciada.</div><div><br></div><div>Actualizada a 21 de junio de 2025. Entra en vigencia el mismo día de su publicación.</div><div><br></div><div><br></div><div><br></div>

<Footer />
</Layout>