---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Pulsar1 from '../components/Pulsar1.astro';
import Footer from '../components/Footer.astro';

---
<Layout>
    <title>Pulsar OS | Inled Group</title>
    <meta name="description" content="Distribución Linux orientada a personas sin conocimientos técnicos. Basada en Debian: estable por defecto, segura y privada.">
    <Header />
    <Pulsar1 />
    <Footer />
</Layout>