---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import StartNTP1 from '../components/StartNTP1.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
    <title>Start New Tab Page | Inled Group</title>
    <meta name="description" content="Establece Start como tu página principal en tu navegador. (Actualmente solo funciona en navegadores basados en Chromium)">
    <Header />
    <StartNTP1 />
    <Footer />
</Layout>
