---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Swiftinstall1 from '../components/Swiftinstall1.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
    <title>Swiftinstall | Inled Group</title>
    <meta name="description" content="Instala gráficamente aplicaciones en Linux como si de un Windows se tratara. Gestiona aplicaciones ya instaladas, desinstala programas y corrige errores">
    <Header />
    <Swiftinstall1 />
    <Footer />
</Layout>
