---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Warp1 from '../components/Warp1.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
    <title>Warp VPN GUI | Inled Group</title>
    <meta name="description" content="¿Estás harto de usar la terminal para ejecutar Warp VPN? ¡Esta es la solución! Instala Warp VPN GUI">
    <Header />
    <Warp1 />
    <Footer />
</Layout>
