---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import WindowsError from '../components/WindowsError.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
    <title>Windows Error | Inled Group</title>
    <meta name="description" content="Aplicación de chiste que simula un error crítico de Windows XP en Mac">
    <Header />
    <WindowsError />
    <Footer />
</Layout>
