---
---
<div class="dsign-container">
<h1 class="wemake-dsign" >DSIGN</h1>
<h2 style="height: 20vh;">Diseñamos sitios web</h2>

<style>
    /* Estilos específicos del componente Dsign - el fondo se maneja globalmente */
    .dsign-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100vh;
        font-family: 'Ubuntu', cursive;
        padding-top: 100px; /* Espacio para el header sticky */
    }
    .container1 {
      display: grid;
      gap: 1.5rem;
    }

    .card1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 1.5rem;
      border: 2px solid white;
      border-radius: 15px;
      background: rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(5px);
      transition: transform 0.3s ease, background 0.3s ease;
    }

    .card1:hover {
      transform: scale(1.05);
      background: rgba(255, 255, 255, 0.5);
    }

    .info {
      max-width: 70%;
    }

    .info h3 {
      margin: 0 0 0.5rem 0;
    }

    .info p {
      margin: 0;
    }

    .icon img {
      width: 50px;
      height: 50px;
    }
    .h31{
        color: white
    }
    .bodysection1 {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
            width: 80%;
        }
        .card {
            background: rgba(255, 255, 255, 0.1);
            padding: 20px;
            border-radius: 10px;
            border: 2px solid white;
            color: white;
            font-size: 1.2em;
            transition: transform 0.3s, background 0.3s;
        }
        .card:hover {
            transform: scale(1.05);
            background: rgba(255, 255, 255, 0.2);
        }
        .card-title {
            margin: 0;
            font-size: 1.5em;
            font-weight: bold;
        }
        .icon {
            float: right;
        }
        .project-card {
            background-color: #ffffff00; /* Fondo negro (igual que el body) */
            border: 1px solid #ffffff;  
        }
        .card-icon-img-dsign {
            max-width: 105%;  /* Ajusta el tamaño según tu imagen */
            max-height: 100%; /* Ajusta el tamaño según tu imagen */
            object-fit: contain; /* Asegura que la imagen se vea bien */
        }
    
        .projects-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 2rem;
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
            justify-items: center;
        }

        .project-card {
            width: 100%;
            max-width: 350px;
        }
    

    
  </style>

<h2 style="font-size: 300%;">Lo que ofrecemos</h2>
<div class="container1">
  <div class="card1">
    <div class="info">
      <h3 class="h31">Diseño web</h3>
      <p>Diseñamos sitios web modernos con las últimas tecnologías</p>
    </div>
    <div class="icon">
<svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#e3e3e3"><path d="m357-513 90-90-75-75-27 27q-9 9-21 9t-21-9q-9-9-9-21t9-21l27-27-75-74-90 90 192 191Zm346 348 90-91-75-75-27 27q-9 9-21 9t-21-9q-9-9-9-21t9-21l27-27-74-74-90 90 191 192Zm8-615 70 70-70-70ZM150-120q-13 0-21.5-8.5T120-150v-114q0-6 2-11t7-10l185-185-202-202q-14-14-13.5-32t13.5-32l110-112q14-14 32-14t32 14l204 203 178-178q9-9 20-13t22-4q11 0 22 4t20 13l71 71q9 9 13 20t4 22q0 11-4 22t-13 20L645-490l203 203q14 14 14 32t-14 32L737-113q-14 14-32 14t-32-14L471-315 285-129q-5 5-10 7t-11 2H150Zm30-60h70l393-394-70-70-393 394v70Zm428-429-35-35 70 70-35-35Z"/></svg>
    </div>
  </div>

  <div class="card1">
    <div class="info">
      <h3 class="h31">Indexación</h3>
      <p>Indexamos tu sitio web en Google y Bing</p>
    </div>
    <div class="icon">
      <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#e3e3e3"><path d="M378-329q-108.16 0-183.08-75Q120-479 120-585t75-181q75-75 181.5-75t181 75Q632-691 632-584.85 632-542 618-502q-14 40-42 75l242 240q9 8.56 9 21.78T818-143q-9 9-22.22 9-13.22 0-21.78-9L533-384q-30 26-69.96 40.5Q423.08-329 378-329Zm-1-60q81.25 0 138.13-57.5Q572-504 572-585t-56.87-138.5Q458.25-781 377-781q-82.08 0-139.54 57.5Q180-666 180-585t57.46 138.5Q294.92-389 377-389Z"/></svg>
    </div>
  </div>

  <div class="card1">
    <div class="info">
      <h3 class="h31">Perfil social</h3>
      <p>Te ayudamos a diseñar tus perfiles en redes sociales para que seas una estrella</p>
    </div>
    <div class="icon">
      <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#e3e3e3"><path d="M174-40q-12.75 0-21.37-8.68-8.63-8.67-8.63-21.5 0-12.82 8.63-21.32 8.62-8.5 21.37-8.5h612q12.75 0 21.38 8.68 8.62 8.67 8.62 21.5 0 12.82-8.62 21.32Q798.75-40 786-40H174Zm0-820q-12.75 0-21.37-8.68-8.63-8.67-8.63-21.5 0-12.82 8.63-21.32 8.62-8.5 21.37-8.5h612q12.75 0 21.38 8.68 8.62 8.67 8.62 21.5 0 12.82-8.62 21.32-8.63 8.5-21.38 8.5H174Zm306 416q50 0 84-34t34-84q0-50-34-84t-84-34q-50 0-84 34t-34 84q0 50 34 84t84 34ZM132-160q-24 0-42-18t-18-42v-520q0-26 18-43t42-17h696q24 0 42 18t18 42v520q0 24-18 42t-42 18H132Zm88-60q51-63 121-94.5T479.5-346q68.5 0 140 31.5T740-220h88v-520H132v520h88Zm94 0h334q-31-30-72.5-48T480-286q-54 0-94.5 18T314-220Zm166.16-284q-24.16 0-40.66-17-16.5-17-16.5-41t16.34-41q16.34-17 40.5-17t40.66 17q16.5 17 16.5 41t-16.34 41q-16.34 17-40.5 17Zm-.16 24Z"/></svg>
    </div>
  </div>

  <div class="card1">
    <div class="info">
      <h3 class="h31">Mantenimiento web</h3>
      <p>Mantenemos tu página web si tú no tienes tiempo</p>
    </div>
    <div class="icon">
      <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#e3e3e3"><path d="M42-150v-62q0-34 16-56.5t45-36.5q54-26 115.5-43T358-365q78 0 139.5 17T613-305q29 14 45 36.5t16 56.5v62q0 13-8.5 21.5T644-120H72q-13 0-21.5-8.5T42-150Zm60-30h512v-32q0-15-8.5-24.5T585-251q-43-19-96-36.5T358-305q-78 0-131 17.5T131-251q-12 5-20.5 14.5T102-212v32Zm256-245q-66 0-108-43t-42-107h-10q-8 0-14-6t-6-14q0-8 6-14t14-6h10q0-40 20-72t52-52v39q0 6 4.5 10.5T295-685q7 0 11-4.5t4-10.5v-52q8-2 22-3.5t27-1.5q13 0 27 1.5t22 3.5v52q0 6 4 10.5t11 4.5q6 0 10.5-4.5T438-700v-39q32 20 51 52t19 72h10q8 0 14 6t6 14q0 8-6 14t-14 6h-10q0 64-42 107t-108 43Zm0-60q42 0 66-25t24-65H268q0 40 24 65t66 25Zm301 105-1-10q-7-4-14.5-9T630-409l-11 6q-7 4-13.5 2t-11.5-8l-1-2q-5-7-3.5-14.5T597-438l11-8q-2-4-2-7.5v-15q0-3.5 2-7.5l-11-8q-6-5-7.5-12t3.5-14l1-3q5-6 11.5-8t13.5 2l11 6 14-10q7-5 14-9l1-11q1-8 6.5-13t13.5-5h2q8 0 13.5 5.5T701-542l1 10q7 4 14 9l14 10 11-6q7-4 13.5-2t11.5 8l1 2q5 7 3.5 14.5T763-484l-11 8q2 4 2 7.5v15q0 3.5-2 7.5l11 8q6 5 7.5 12t-3.5 14l-1 3q-5 6-11.5 8t-13.5-2l-11-6q-6 5-13.5 10t-14.5 9l-1 11q-1 8-6.5 13t-13.5 5h-2q-8 0-13.5-5.5T659-380Zm21-43q16 0 27-11t11-27q0-16-11-27t-27-11q-16 0-27 11t-11 27q0 16 11 27t27 11Zm84-169-5-21q-10-4-20.5-11T721-639l-28 10q-7 2-13.5 0t-10.5-8l-4-6q-4-7-2.5-14t7.5-12l22-17q-2-5-3.5-11t-1.5-12q0-6 1.5-12t3.5-11l-22-17q-6-5-7.5-12.5T665-775l4-5q4-6 10.5-8.5t13.5-.5l28 10q7-8 17.5-15.5T759-805l5-21q2-6 7-10t11-4h10q6 0 11 4t7 10l5 21q10 3 20.5 10.5T853-779l28-10q7-2 13.5 0t10.5 8l4 6q4 7 2.5 14t-7.5 12l-22 17q2 5 3.5 11t1.5 12q0 6-1.5 12t-3.5 11l22 17q6 5 7.5 12.5T909-643l-4 5q-4 6-10.5 8.5t-13.5.5l-28-10q-7 8-17.5 15T815-613l-5 21q-2 6-7 10t-11 4h-10q-6 0-11-4t-7-10Zm23-59q25 0 41.5-16.5T845-709q0-25-16.5-41.5T787-767q-25 0-41.5 16.5T729-709q0 25 16.5 41.5T787-651ZM358-180Z"/></svg>
    </div>
  </div>

  <div class="card1">
    <div class="info">
      <h3 class="h31">Servicios en la red</h3>
      <p>Te ayudamos con la puesta en marcha de formularios, PWA...</p>
    </div>
    <div class="icon">
      <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#e3e3e3"><path d="M251-160q-88 0-149.5-61.5T40-371q0-78 50-137t127-71q20-97 94-158.5T482-799q112 0 189 81.5T748-522v24q72-2 122 46.5T920-329q0 69-50 119t-119 50H251Zm0-60h500q45 0 77-32t32-77q0-45-32-77t-77-32h-63v-84q0-91-61-154t-149-63q-88 0-149.5 63T267-522h-19q-62 0-105 43.5T100-371q0 63 44 107t107 44Zm229-260Z"/></svg>
    </div>
  </div>
</div>
<h2 style="font-size: 300%;">Características</h2>
<div class="bodysection1">
    <div class="container">
        <div class="card">
            <h3 class="card-title">Diseño moderno <span class="icon">✨</span></h3>
            <p>Di adiós a los sitios que parecen de cuando se creó internet</p>
        </div>
        <div class="card">
            <h3 class="card-title">Seguridad <span class="icon">🛡️</span></h3>
            <p>Intentamos tener la máxima seguridad en los sitios que administramos</p>
        </div>
        <div class="card">
            <h3 class="card-title">Actualizado <span class="icon">🔄</span></h3>
            <p>Todas las tecnologías que usamos están actualizadas y son seguras</p>
        </div>
        <div class="card">
            <h3 class="card-title">Legal <span class="icon">⚖️</span></h3>
            <p>Siempre procuramos que tu sitio web cumpla con los requisitos</p>
        </div>
        <div class="card">
            <h3 class="card-title">Diferentes tecnologías <span class="icon">⚙️</span></h3>
            <p>Wordpress, Wix, Github Pages.</p>
        </div>
        <div class="card">
            <h3 class="card-title">Satisfacción <span class="icon">❤️</span></h3>
            <p>Buscamos la máxima satisfacción por parte del cliente</p>
        </div>
    </div>
    </div>
    <h2 style="font-size: 300%;">Ya hemos diseñado estas otras páginas</h2>
    <div class="container">
        <div class="projects-grid">

            <!-- Proyecto 1: Inled en Wordpress v1.0 -->
            <div class="project-card">
                <div class="card-icon-container">
                    <img src={import.meta.env.BASE_URL + "/upload/inled.es-en-dsign.gif"} alt="Inled.es imagen del wordpress" class="card-icon-img-dsign">
                </div>
                <h2 class="card-title">inled.es v1.0</h2>
                <p class="card-description">
                    Página de Inled hecha en Wordpress con modificaciones ligeras del tema
                </p>
            </div>

            <!-- Proyecto 2: Launch the launcher en Wix -->
            <div class="project-card">
                <div class="card-icon-container">
                    <img src={import.meta.env.BASE_URL + "/upload/launchthelauncher.gif"} alt="Launch the laucnher imagen de la página de wix" class="card-icon-img-dsign">
                </div>
                <h2 class="card-title">Launch the launcher en Wix</h2>
                <p class="card-description">
                    La primera página diseñada por Inled. Alojada de forma gratuita en Wix.
                </p>
            </div>

            <!-- Proyecto 3: Gra-B -->
            <div class="project-card">
                <div class="card-icon-container">
                    <img src={import.meta.env.BASE_URL + "/upload/gra-b-en-dsign-inled.gif"} alt="Imagen de la página en Wix de Gra-b" class="card-icon-img-dsign">
                </div>
                <h2 class="card-title">Gra-b</h2>
                <p class="card-description">
                    Página diseñada para una agrupación de contrabajo sin animo de lucro y con coste cero, indexada en sólo 2 días.
                </p>
                <a href="https://hellogra-b.wixsite.com/website" class="card-link">></a>
            </div>

            <!-- Proyecto 4: Fundación Conrado Blanco -->
            <div class="project-card">
                <div class="card-icon-container">
                    <img src={import.meta.env.BASE_URL + "/upload/fundacionwebinled.es_.gif"} alt="Imagen de la página-concepto de la Fundación Conrado Blanco" class="card-icon-img-dsign">
                </div>
                <h2 class="card-title">Fundación Conrado Blanco</h2>
                <p class="card-description">
                    Rediseñamos el sitio web de la Fundación Conrado Blanco, una fundación sin ánimo de lucro.
                    Mantenemos el sitio y actualizamos detalles.
                </p>
                <a href="https://fundacionconradoblanco.com/" class="card-link">></a>
            </div>

            <!-- Proyecto 5: TEA Friendly -->
            <div class="project-card">
                <div class="card-icon-container">
                    <img src={import.meta.env.BASE_URL + "/upload/teafriendlyinled.es_.gif"} alt="TEA Friendly Imagen de la web" class="card-icon-img-dsign">
                </div>
                <h2 class="card-title">TEA Friendly</h2>
                <p class="card-description">
                    Certificación para centros educativos que atienden las
                    necesidades de las personas con autismo
                </p>
                <a href="http://teafriendly.es" class="card-link">></a>
            </div>

            <!-- Proyecto 6: Orientación Puga -->
            <div class="project-card">
                <div class="card-icon-container">
                    <img src={import.meta.env.BASE_URL + "/upload/ies-rafael-puga-ramon-orientacion-puga-website-Inled-Group.gif"} alt="Página de Orientación del IES Rafael Puga Ramón" class="card-icon-img-dsign">
                </div>
                <h2 class="card-title">Orientación Puga</h2>
                <p class="card-description">
                    Doble propósito: enseñar a crear un sitio web y actualizar el antiguo sitio del centro.
                    Todo con cero coste.
                </p>
                <a href="https://orientacionpuga.wixsite.com/website" class="card-link">></a>
            </div>

        </div>
    </div>
</div>

