---
---
<header>
    <a href="/"><img src={import.meta.env.BASE_URL +"/upload/inled-logo-full.png"} alt="Inled Logo" class="logo"></a>
    <div class="encabezado">
    <div class="header">
        <div style="display: flex;">
        <a href="/ltl">
            <img src={import.meta.env.BASE_URL +"/upload/Launchthelauncher-ytlogo__1_-removebg-preview.png"} alt="Launch the Launcher"> Launch the launcher
        </a>
        <a href="/dsign">
            <img src={import.meta.env.BASE_URL +"/upload/DSIGN-SIMPLE-WHITE-removebg-preview.png"} alt="Dsign"> DSIGN
        </a>
        <a href="http://teafriendly.es">
            <img src={import.meta.env.BASE_URL +"/upload/tea-friendly.png"} alt="TEA Friendly"> TEA Friendly
        </a>
        </div>
    </div>
</div>

<div class="menu-container">
      <!-- Usamos un checkbox real pero oculto -->
      <input type="checkbox" id="menu-toggle">
      <!-- La etiqueta for asocia el click a nuestro checkbox -->
      <label for="menu-toggle" class="menu-icon">☰</label>
      <nav class="mobile-menu">
        <a href="/">Inicio</a>
        <a href="/ltl">Launch the launcher</a>
        <a href="/dsign">DSIGN</a>
        <a href="http://teafriendly.es">TEA Friendly</a>
      </nav>
    </div>
</header>