---
---
<header>
    <div class="encabezado">
    <div class="header">
        <div style="display: flex; align-items: center; width: 70px;">
            <a href="/">
                <img src="https://inled.es/wp-content/uploads/2024/11/inled-logo-full.png" alt="Inled" style="height:50px; margin-right:20px;">
            </a>
        </div>
        <div style="display: flex;">
        <a href="/ltl">
            <img src="https://inled.es/wp-content/uploads/2024/11/Launchthelauncher-ytlogo__1_-removebg-preview.png" alt="Launch the Launcher"> Launch the launcher
        </a>
        <a href="/dsign">
            <img src="https://inled.es/wp-content/uploads/2024/11/DSIGN-SIMPLE-WHITE-removebg-preview.png" alt="Dsign"> DSIGN
        </a>
        <a href="http://teafriendly.es">
            <img src="https://inled.es/wp-content/uploads/2024/11/tea-friendly.png" alt="TEA Friendly"> TEA Friendly
        </a>
        </div>
    </div>
</div>
</header>