
<h1>Inled: We make a better world</h1>
<p>Descubre nuestros proyectos.</p>
<p>Estamos trabajando para hacer todos estos proyectos compatibles con Lynx</p>
<h2>Proyectos</h2>

<h3>Launch the launcher</h3>
<p>Tutoriales sobre nuevas tecnologías para profesores.
    Los primeros tutoriales en español acerca de Bytello</p>
<a href="/ltl">Enlace</a>

<h3>DSIGN</h3>
<p> Diseño web</p>
<a href="/dsign">Enlace</a>

<h3>TEA Friendly</h3>
<p>Certificación para centros educativos que atienden las
    necesidades de las personas con autismo</p>
<a href="https://teafriendly.es">Enlace</a>

<h3>Swiftinstall</h3>
<p>Instala y elimina aplicaciones fuera de la Store de Linux</p>
<a href="/swiftinstall">Enlace</a>

<h3>Start</h3>
<p>Busca más rápido, accede al instante. Tu multibuscador y página de inicio</p>
<a href="/about-start">Enlace</a>

<h3>Warp VPN GUI</h3>
<p>Interfaz gráfica para la VPN de Cloudflare</p>
<a href="/warp">Enlace</a>

<h3>Start Omnibox</h3>
<p>Escoja el motor de búsqueda que desea desde una ventana junto a la barra de Chrome. <br>

    Ya no tendrá que navegar a cada motor de búsqueda para comenzar a buscar.</p>
<a href="/startomnibox">Enlace</a>

<h3>Cruz Cristiana GNOME</h3>
<p>Esta extensión de GNOME muestra la cruz de Cristo en la barra superior de GNOME para que Dios nos acompañe durante el uso del ordenador.</p>
<a href="https://extensions.gnome.org/extension/8060/christian-cross-in-gnome-bar/">Enlace</a>

<h3>Memory Warn</h3>
<p>Aplicación para Linux basados en Debian que avisa cuando el uso de memoria supera un límite establecido.</p>
<a href="/memorywarn">Enlace</a>

<h3>Songbird</h3>
<p>Música creada con IA, títulos hechos por humanos

    Let’s see what AI comes up with for me today.</p>
<a href="https://suno.com/@songbird_music">Enlace</a>

<h3>Yway</h3>
<p> Gestión de dispositivos informáticos</p>
<a href="/yway">Enlace</a>

<h3>Start New Tab Page</h3>
<p>Experimenta la productividad en estado puro con Start como página de inicio</p>
<a href="/startntp">Enlace</a>

<h3>Domain Info</h3>
<p>Obtén información sobre un dominio o dirección IP</p>
<a href="https://status.inled.es/ipcheck.html">Enlace</a>

<h3>Server Status</h3>
<p>Comprueba el estado de los servicios de Inled en el cloud</p>
<a href="https://status.inled.es/index.html">Enlace</a>

<h3>MDPDF</h3>
<p>Free Markdown Editor and MD to PDF converter</p>
<a href="/mdpdf">Enlace</a>

<h3>inLinked</h3>
<p>Formateador de texto para LinkedIN</p>
<a href="/inlinked">Enlace</a>

