<h1 class="wemake-swiftinstall">inLinked</h1>
<div class="descargar">
  <div class="content-descargar">
    <h1 class="h1-descargar">Formateador de texto para LinkedIN</h1>
    <p class="p-descargar">Formatea texto para tu LinkedIN de forma 100% gratuita sin registros.
    </p>
    <div class="buttons">
      <a href="https://inlinked.inled.es" class="btn-descargar">Formatear texto ya</a>
      <a href="https://github.com/Inled-Group/inlinked" class="btn-codigo">Código</a>
    </div>
  </div>
  <div class="image-container">
    <img src={import.meta.env.BASE_URL + "/upload/Captura-de-pantalla-2025-06-10-a-las-19.31.46.png"} alt="Imagen inLinked">
  </div>
</div>

<h1 class="h1init">No como todos los formateadores...</h1>

<div class="card-section-instalables">
  <div class="card-instalables">
    <img src={import.meta.env.BASE_URL + "/upload/multiformat-inlinked.gif"} alt="Múltiples formatos de letra">
    <h2>Múltiples tipos de letra</h2>
    <p>Formatea en muchos tipos de letra disponibles</p>
  </div>
  <div class="card-instalables">
    <img src={import.meta.env.BASE_URL + "/upload/mdpdf.functions-3.gif"} alt="Full privacy">
    <h2>Privacy always</h2>
    <p>Privado, no recopilamos tus datos ni usamos herramientas de monetización</p>
  </div>
  <div class="card-instalables">
    <img src={import.meta.env.BASE_URL + "/upload/potente.gif"} alt="Potente">
    <h2>Potente</h2>
    <p>Listo para lo que necesites</p>
  </div>
</div>

<h1 class="h1init">Próximamente...</h1>

<div class="card-section-instalables">
  <div class="card-instalables">
    <h2>Transforma tus post generados por IA a formato LinkedIN</h2>
    <p>Ya no tendrás que hacer nada más que copiar y pegar en LinkedIN</p>
  </div>
</div>
