<h1 class="wemake-ltl" >Launch the launcher</h1>
<h2 style="height: 20vh;">Tutoriales de informática y nuevas tecnologías</h2>
<div class="container">
  <div class="projects-grid">

      <!-- Tutoriales en video -->
      <div class="project-card">
          <div class="card-icon-container">
            <span class="material-symbols-rounded">
              school
              </span>
          </div>
          <h2 class="card-title">Tutoriales en vídeo</h2>
          <p class="card-description">
              Tutoriales de menos de 1 hora que te ayudarán si no puedes/quieres leer los manuales
          </p>
          <a href="https://www.youtube.com/@launchthelauncher" class="card-link">></a>
      </div>

      <!-- Blog -->
      <div class="project-card">
          <div class="card-icon-container">
            <span class="material-symbols-rounded">
              rss_feed
              </span>
          </div>
          <h2 class="card-title">Blog</h2>
          <p class="card-description">
            Novedades y otros asuntos de interés del mundo de la informática y sus alrededores
          </p>
          <a href="/blog" class="card-link">></a>
      </div>
 </div>
</div>
<div style="height: 20vh;"></div>
<h1 style="text-align: center;">Tutoriales</h1>
  <div class="card-container-ltl">

    <!--Tutoriales Bytello -->
    <a href="https://youtube.com/playlist?list=PL284fmG0EEJG07j6BMb4AiSWLfPDDfMQK&si=Fj4eEjllW7z4qu-8" class="card-ltl">
      <img src={import.meta.env.BASE_URL + "/upload/Tutoriales-B-ytello.png"} alt="Tutoriales Bytello logo" class="card-img-ltl" />
      <div class="card-content-ltl">
        <div class="card-title-ltl">Bytello</div>
        <div class="card-description-ltl">
          Los primeros tutoriales en español acerca de las pantallas que se están instalando en centros educativos españoles.
        </div>
      </div>
      <div class="arrow-ltl"><i class="fa-solid fa-chevron-right"></i></div>
    </a>

    <!--Tutoriales Clipchamp -->
    <a href="https://youtube.com/playlist?list=PL284fmG0EEJHaS-7LZRMXy5DU1gHQmOqg&si=ZKoq2dtJVwnh7Sqh" class="card-ltl">
      <img src={import.meta.env.BASE_URL + "/upload/empezamos-clipchamp.png"} alt="Portada Tutoriales Clipchamp" class="card-img-ltl" />
      <div class="card-content-ltl">
        <div class="card-title-ltl">Clipchamp</div>
        <div class="card-description-ltl">
          Una serie de vídeos acerca de Clipchamp, el editor de vídeo de Microsoft, que le enseñarán a usarlo en menos de media hora
        </div>
      </div>
      <div class="arrow-ltl"><i class="fa-solid fa-chevron-right"></i></div>
    </a>

    <!--Tutoriales Maxhub Pivot -->
    <a href="https://youtube.com/playlist?list=PL284fmG0EEJEKtG3Iv8zXtHSnv4QI6dwk&si=0oUve9mjSH6_5k9X" class="card-ltl">
      <img src={import.meta.env.BASE_URL + "/upload/maxhub-pivot-tutoriales.png"} alt="Portada Tutoriales Maxhub Pivot" class="card-img-ltl" />
      <div class="card-content-ltl">
        <div class="card-title-ltl">Maxhub Pivot</div>
        <div class="card-description-ltl">
          Con la plataforma Maxhub Pivot podemos gestionar los paneles Maxhub. Y aprender a usarla nos lleva minutos.
        </div>
      </div>
      <div class="arrow-ltl"><i class="fa-solid fa-chevron-right"></i></div>
    </a>

    <!--Tutoriales Canva -->
    <a href="https://youtube.com/playlist?list=PL284fmG0EEJEloAuTPkvAtvSUzpm8HVRN&si=cSaDqm4POFUaTj_X" class="card-ltl">
      <img src={import.meta.env.BASE_URL + "/upload/tutoriales-CANVA-RAPIDOS.png"} alt="Portada Tutoriales Canva" class="card-img-ltl" />
      <div class="card-content-ltl">
        <div class="card-title-ltl">Canva</div>
        <div class="card-description-ltl">
          Aprende a usar Canva. Próximamente más contenido.
        </div>
      </div>
      <div class="arrow-ltl"><i class="fa-solid fa-chevron-right"></i></div>
    </a>

    <!--Tutoriales Bytello Class -->
    <a href="https://youtube.com/playlist?list=PL284fmG0EEJGYiBp_lRWzVdy0qjjaw_4K&si=w4Iu5j6ycdZRsPKH" class="card-ltl">
      <img src="https://i.ytimg.com/vi/9Qkwkxau4v8/hqdefault.jpg?sqp=-oaymwEXCNACELwBSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLCGd03Jp30YInjApwEZYi0kHfi6Hw" alt="Bytello Class" class="card-img-ltl" />
      <div class="card-content-ltl">
        <div class="card-title-ltl">Bytello Class</div>
        <div class="card-description-ltl">
          Descubre el potencial de la plataforma para el aula de los creadores del software de las pantallas digitales de los colegios españoles.
        </div>
      </div>
      <div class="arrow-ltl"><i class="fa-solid fa-chevron-right"></i></div>
    </a>

    <!--Tutoriales Abalinux -->
    <a href="https://youtube.com/playlist?list=PL284fmG0EEJE86X2FaEqp98OzzHCczq9q&si=iqUsuteeDbMKDt0X" class="card-ltl">
      <img src="https://i.ytimg.com/vi/YGFi_sj5SYw/hqdefault.jpg?sqp=-oaymwEXCNACELwBSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLAk9zcJ8YehnRYXcwQzo-3CXRWnlw" alt="Abalinux" class="card-img-ltl" />
      <div class="card-content-ltl">
        <div class="card-title-ltl">Abalinux / Maqueta Abalar Libre</div>
        <div class="card-description-ltl">
         Aprende a utilizar Abalinux, la distribución LInux diseñada por la Xunta de Galicia para los centros educativos gallegos
        </div>
      </div>
      <div class="arrow-ltl"><i class="fa-solid fa-chevron-right"></i></div>
    </a>


  </div>

