<h1 class="wemake-swiftinstall">MDPDF</h1>
<div class="descargar">
  <div class="content-descargar">
    <h1 class="h1-descargar">Editor Markdown a PDF completamente gratuito</h1>
    <p class="p-descargar">Ya da cansancio el ir a un editor de markdown a pegar la conversaciónd e ChatGPT y que te digan que para descargarlo has de iniciar sesión.<br>
      Con MDPDF puedes editar en markdown y convertirlo a PDF sin registrarte ni pagar
    </p>
    <div class="buttons">
      <a href="https://mdpdf.inled.es" class="btn-descargar">Acceder</a>
      <a href="https://github.com/Inled-Group/mdpdf" class="btn-codigo">Código</a>
    </div>
  </div>
  <div class="image-container">
    <img src="https://inled.es/wp-content/uploads/2025/06/Captura-de-pantalla-2025-06-06-a-las-12.37.14.png" alt="Imagen MDPDF">
  </div>
</div>

<h1 class="h1init">MDPDF es diferente al resto</h1>

<div class="card-section-instalables">
  <div class="card-instalables">
    <img src="https://inled.es/wp-content/uploads/2025/06/mdpdf.functions.gif" alt="Soporta LaTeX">
    <h2>Fórmulas LaTeX</h2>
    <p>Soporta fórmulas LaTeX y las adapta. Actualmente puede experimentar errores pero estamos trabajando para corregirlos</p>
  </div>
  <div class="card-instalables">
    <img src="https://inled.es/wp-content/uploads/2025/06/mdpdf.functions-2.gif" alt="Sin anuncios">
    <h2>Sin anuncios</h2>
    <p>Los anuncios son molestos como los mosquitos. ¡MDPDF está libre de anuncios!</p>
  </div>
  <div class="card-instalables">
    <img src="https://inled.es/wp-content/uploads/2025/06/mdpdf.functions-3.gif" alt="Privacidad a full">
    <h2>Privacidad a full</h2>
    <p>No podemos ver lo que escribes ni en qué botones pulsas. No monetizamos con MDPDF, es un proyecto altruista.</p>
  </div>
</div>
