<h1 class="wemake-start">Memory Warn</h1>
<div class="descargar">
  <div class="content-descargar">
    <h1 class="h1-descargar">Controla la memoria del ordenador</h1>
    <p class="p-descargar">¡Tu PC no se volverá a tostar antes de que te enteres!</p><br>
    <p class="p-descargar">Memory-warn advierte cuando el uso de memoria de su ordenador supera un umbral establecido.</p>
    <div class="buttons">
      <a href="https://github.com/Inled-Group/memory-warn/releases/download/v1.0/memory-warn.deb" class="btn-descargar">Descargar</a>
      <a href="https://github.com/Inled-Group/memory-warn" class="btn-codigo">Código</a>
    </div>
  </div>
  <div class="image-container">
    <img src={import.meta.env.BASE_URL + "/upload/memory-warn.png"} alt="Memory Warn Img">
  </div>
</div>

<h1 class="h1init">Previene los tuestes 😉 </h1>

<div class="card-section-instalables">
  <div class="card-instalables">
    <img src={import.meta.env.BASE_URL + "/upload/memorywarn1.png"} alt="Establecer umbral de aviso">
    <h2>Establezca un umbral de aviso</h2>
  </div>
  <div class="card-instalables">
    <img src={import.meta.env.BASE_URL + "/upload/memorywarn2.png"} alt="Establecer intervalo de comprobación">
    <h2>Establezca una frecuencia de revisión</h2>
  </div>
  <div class="card-instalables">
    <img src={import.meta.env.BASE_URL + "/upload/memorywarn3.png"} alt="Activar el monitoreo">
    <h2>Actívelo</h2>
  </div>
</div>
