<div class="background-pulsar"></div>
    
<div class="container-pulsar">
    <div class="title-container-pulsar">
        <h1 class="title-pulsar">Pulsar OS</h1>
        <h2 class="subtitle-pulsar">Linux para la gente</h2>
    </div>
</div>
<div style="height: 20vh;"></div>
<h1>¿Qué es Pulsar OS?</h1>
<p>Pulsar OS es un sistema operativo basado en Debian GNU/Linux diseñado para que lo arranques desde un USB.</p>
<div style="height: 50vh;"></div>
<h1>¿Qué ofrece Pulsar OS?</h1>
<div style="height: 10vh;"></div>
<div class="container">
    <div class="projects-grid">

    <!-- Características Pulsar OS -->

        <div class="project-card">
            <div class="card-icon-container">
                <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#FFFFFF"><path d="M292-506q18-36 38.5-71t43.5-67l-79-16-109 109 106 45Zm515-312q-102 5-184 43.5T463-658q-31 31-64 81t-59 107l133 133q57-26 107-59t81-64q78-78 116.5-159.5T821-803q0-3-1-6t-3-5q-2-2-4.5-3t-5.5-1ZM570-566q-20-20-20-49.5t20-49.5q20-20 49.5-20t49.5 20q20 20 20 49.5T669-566q-20 20-49.5 20T570-566Zm-61 278 45 105 109-109-15-79q-32 23-67.5 44T509-288Zm373-559q3 125-40.5 230.5T704-417q-1 1-2 1.5t-2 1.5l22 110q3 15-1 29t-15 25L565-109q-11 11-26.5 8T517-119l-68-157-169-170-158-67q-15-6-17.5-22t8.5-27l140-140q11-11 25-15.5t29-1.5l110 22q1-1 2-1.5t2-1.5q94-94 199-137.5T850-878q6 0 11.5 2.5T872-868q5 5 7.5 10t2.5 11ZM149-325q35-35 85.5-35.5T320-326q35 35 34.5 85.5T319-155q-47 47-112.5 56.5T75-80l18-132q9-66 56-113Zm42 43q-24 26-31 60t-13 69q35-6 69-13t60-31q20-17 20-42.5T278-284q-19-18-44.5-18T191-282Z"/></svg>
            </div>
            <h2 class="card-title">Estabilidad</h2>
            <p class="card-description">
                Basado en Debian, la distribución Linux más estable
            </p>
        </div>

        <div class="project-card">
            <div class="card-icon-container">
                <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#FFFFFF"><path d="M480-142q106-35 175.5-128.5T737-480H480v-335l-260 97v196q0 12 .5 20.5T223-480h257v338Zm0 58q-5 0-9.5-1t-9.5-3q-139-47-220-168.5T160-523v-196q0-19 11-34.5t28-22.5l260-97q11-4 21-4t21 4l260 97q17 7 28 22.5t11 34.5v196q0 145-81 266.5T499-88q-5 2-9.5 3t-9.5 1Z"/></svg>
            </div>
            <h2 class="card-title">Seguridad</h2>
            <p class="card-description">
                Actualizaciones oficiales de Debian. Fuentes oficiales con actualizaciones mensuales de seguridad automáticas.
            </p>
        </div>

        <div class="project-card">
            <div class="card-icon-container">
                <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#FFFFFF"><path d="M749-632q-2 42 27.5 73t71.23 41.71Q862-513 871-501.72q9 11.28 9 26.72 0 57-13.5 106T824-274q-7 11-18.83 12.5Q793.35-260 783-268q-11-8-13-21t5-24q19-34 31-71.5t15-79.5q-54-20-87.5-59.5T692-614q-81-11-136.5-70T492-821q-51-2-96.5 9.5T311-777q-11.17 7-23.09 5Q276-774 268-784.5t-5.45-22.66Q265.09-819.32 276-825q51-30 109-43t118-13q19 0 33 11.5t15 29.5q3 68 49 117t115 51q15 1 25 12.61 10 11.6 9 27.39ZM339.88-358Q314-358 296-376.12q-18-18.12-18-44T296.12-464q18.12-18 44-18T384-463.88q18 18.12 18 44T383.88-376q-18.12 18-44 18ZM480-80q-85 0-158-30.5T195-195q-54-54-84.5-127T80-480q0-68 20-128t56-110L47-827q-9-9.07-9-21.53Q38-861 47.05-870q9.06-9 21.5-9Q81-879 90-870l765 765q9 9 9 21t-9.05 21q-9.06 9-21.5 9Q821-54 812-63l-94-93q-50 36-110 56T480-80Zm0-60q54.64 0 103.82-15.5Q633-171 675-199L199-675q-28 42-43.5 91.18Q140-534.64 140-480q0 145 97.5 242.5T480-140Zm-43-297Zm117-119Z"/></svg>
            </div>
            <h2 class="card-title">Privacidad</h2>
            <p class="card-description">
                Desactivadas las herramientas de recopilzación de datos opcionales. Navegador Brave privado como predeterminado
            </p>
        </div>
    </div>
</div>
<div style="height: 50vh;"></div>
<h1>Preguntas frecuentes</h1>
<div class="container-faq">
    
    <div class="faq-container">
        <div class="faq-item">
            <details>
                <summary class="faq-question">¿Pulsar OS es una distro Linux?</summary>
                <div class="faq-answer">
                    <p>No, es una imagen Live de un Debian personalizado para semejar a un MacOS (en GNOME) o a un Windows 10 (en Plasma). Estamos intentando crear una distribución Linux pero por ahora esto es el principio</p>
                </div>
            </details>
        </div>
        
        <div class="faq-item">
            <details>
                <summary class="faq-question">¿Como funciona la gestión de errores?</summary>
                <div class="faq-answer">
                    <p>Cualquier error puede ser reportado en el repositorio de Github. Soy un solo desarrollador así que las cosas van despacio.</p>
                </div>
            </details>
        </div>
        
        <div class="faq-item">
            <details>
                <summary class="faq-question">¿Esto es una vista previa?</summary>
                <div class="faq-answer">
                    <p>Exacto. Vamos paso a paso, ya que estoy aprendiendo.</p>
                </div>
            </details>
        </div>

        <div class="faq-item">
            <details>
                <summary class="faq-question">No veo el botón de descarga</summary>
                <div class="faq-answer">
                    <p>Claro. Estamos preparando la imagen Live pero antes hemos de comprobar si cumplimos las licencias y todo está en regla.</p>
                </div>
            </details>
        </div>
    </div>
</div>