<h1 class="wemake-start">Start</h1>
<div class="descargar">
  <div class="content-descargar">
    <h1 class="h1-descargar">Busca más rápido</h1>
    <ol class="ol-descargar">
      <li>Búsqueda multibuscador</li>
      <li>Accesos directos a los servicios más usados</li>
      <li>Todo en uno: Docs y Word</li>
      <li>Periódicos nacionales</li>
    </ol>
    <div class="buttons">
      <a href="https://inled-group.github.io/start/" class="btn-descargar">Acceder</a>
      <a href="https://github.com/Inled-Group/start" class="btn-codigo">Como funciona</a>
    </div>
  </div>
  <div class="image-container">
    <img src="https://sp-ao.shortpixel.ai/client/to_webp,q_glossy,ret_img,w_1024/https://inled.es/wp-content/uploads/2024/11/startusefast-1024x576.gif" alt="Pantallazo de Start">
  </div>
</div>

<h1 class="h1init">Novedades versión 16425</h1>

<div class="card-section-instalables">
  <div class="card-instalables">
    <img src="https://inled.es/wp-content/uploads/2025/04/periodicos-en-start-16425.png" alt="Nuevos periódicos en Start: La Vanguardia y El Debate">
    <h2>Nuevos periódicos</h2>
    <p>Disfruta de La Vanguardia y El Debate</p>
  </div>
  <div class="card-instalables">
    <img src="https://inled.es/wp-content/uploads/2025/04/ecosia-en-start.png" alt="Fotocomposición de Ecosia con imágenes del sitio web">
    <h2>Ecosia ha llegado</h2>
    <p>Busca y planta árboles: Ecosia ha llegado a Start</p>
  </div>
  <div class="card-instalables">
    <img src="https://inled.es/wp-content/uploads/2025/04/hemos-solucionado-los-errores-en-start.png" alt="Diseño estilo Windows 98 con mensaje de resolución de errores en Start">
    <h2>Corrección de errores</h2>
    <p>Algunos problemitas de botones que se me olvidó retirar y cosas por el estilo.</p>
  </div>
</div>
