<h1 class="wemake-start">Start Omnibox</h1>
<div class="descargar">
  <div class="content-descargar">
    <h1 class="h1-descargar">Escoge el buscador</h1>
    <p class="p-descargar">Con Start Omnibox tú tienes el poder. Puedes escoger qué motor de búsqueda usar desde el deslpegable de Start Omnibox. Ya no tienes que entrar en la página de cada buscador para comenzar a buscar</p>
    <div class="buttons">
      <a href="https://github.com/Inled-Group/start-omnibox/archive/refs/heads/main.zip" class="btn-descargar">Descargar</a>
      <a href="https://github.com/Inled-Group/start-omnibox" class="btn-codigo">Código</a>
    </div>
  </div>
  <div class="image-container">
    <img src={import.meta.env.BASE_URL + "/upload/start-omnibox-inled.es-gif-%E2%80%90-Hecho-con-Clipchamp.gif"} alt="Animación Start Omnibox">
  </div>
</div>

<h1 class="h1init">Funcionamiento</h1>

<div class="card-section-instalables">
  <div class="card-instalables">
    <h2>Escoja el motor de búsqueda</h2>
    <p>Desde el icono de Start Omnibox en la barra de extensiones</p>
  </div>
  <div class="card-instalables">
    <h2>Escriba S en la barra de búsqueda</h2>
    <p>Escriba S en la barra de búsqueda y pulse en «Start Omnibox»</p>
  </div>
  <div class="card-instalables">
    <h2>Introduzca su búsqueda</h2>
    <p>Ahora su búsqueda se abrirá en el motor de búsqueda que haya seleccionado</p>
  </div>
</div>

<h1 class="h1init">Instalación</h1>

<div class="card-section-instalables">
  <div class="card-instalables">
    <img src={import.meta.env.BASE_URL + "/upload/Captura-desde-2025-04-16-14-50-33.png"} alt="Carpeta con el nombre de start-chrome con estilo de icono MacOS">
    <h2>Descargue el zip y descomprímalo</h2>
  </div>
  <div class="card-instalables">
    <img src={import.meta.env.BASE_URL + "/upload/startomnibox-instalacion-1.png"} alt="Imagen en la que se está cargando la extensión descomprimida a un navegador basado en Chromium">
    <h2>Habilite el modo Desarrollador y suba la extensión</h2>
    <p>En la esquina superior derecha en la sección Extensiones de su navegador active el modo desarrollador y después pulse en «Cargar descomprimida» en el desplegable que le aparecerá</p>
  </div>
  <div class="card-instalables">
    <img src={import.meta.env.BASE_URL + "/upload/startomnibox-instalacion-2.png"} alt="Se está activando la extensión Start Omnibox en el navegador">
    <h2>Active la extensión</h2>
    <p>Para finalizar pulse en el switch dentro del recuadro de la extensión y actívela.</p>
  </div>
</div>
