<h1 class="wemake-start">Start</h1>
<div class="descargar">
  <div class="content-descargar">
    <h1 class="h1-descargar">Busca más rápido</h1>
    <ol class="ol-descargar">
      <li>Búsqueda multibuscador</li>
      <li>Accesos directos a los servicios más usados</li>
      <li>Todo en uno: Docs y Word</li>
      <li>Periódicos nacionales</li>
    </ol>
    <div class="buttons">
      <a href="https://start.inled.es" class="btn-descargar">Acceder</a>
      <a href="https://github.com/Inled-Group/start" class="btn-codigo">Como funciona</a>
    </div>
  </div>
  <div class="image-container">
    <img src={import.meta.env.BASE_URL + "/upload/start-mayo-glass-neumorphism.png"} alt="Pantallazo de Start">
  </div>
</div>

<h1 class="h1init">Novedades versión mayo</h1>

<div class="card-section-instalables">
  <div class="card-instalables">
    <img src={import.meta.env.BASE_URL + "/upload/start-mayo-glass-neumorphism.png"} alt="Nuevo Start con estilo Glass Neumorphism">
    <h2>Apariencia renovada</h2>
    <p>Estilo Glass-neumorphism</p>
  </div>
  <div class="card-instalables">
    <img src={import.meta.env.BASE_URL + "/upload/Captura-de-pantalla-2025-06-01-a-las-11.19.22.png"} alt="Nuevo selector de buscadores">
    <h2>Nuevo selector de buscadores</h2>
    <p>Selecciona el motor de búsqueda desde su icono. Ocupa menos espacio y es más intuitivo</p>
  </div>
  <div class="card-instalables">
    <img src={import.meta.env.BASE_URL + "/upload/boton-cerrar.png"} alt="Botón cerrar Start">
    <h2>Mejoras en los periódicos</h2>
    <p>El botón de cerrar los periódicos ahora se queda fijo y no se va a cualquier lado.</p>
  </div>
</div>
