<h1 class="wemake-swiftinstall">Swiftinstall</h1>
<div class="descargar">
  <div class="content-descargar">
    <h1 class="h1-descargar">Tu asistente de apps en Linux</h1>
    <p class="p-descargar">Desde instalar y desinstalar hasta buscar virus y vaciar basura del sistema de archivos</p>
    <div class="buttons">
      <a href="https://sourceforge.net/projects/swiftinstall/files/latest/download"><img alt="Download Swiftinstall" src="https://a.fsdn.com/con/app/sf-download-button" width=276 height=48 srcset="https://a.fsdn.com/con/app/sf-download-button?button_size=2x 2x"></a>
      <a href="https://github.com/InledGroup/swiftinstall/releases/download/v8.0/swiftinstall8.1-ui-fix.deb" class="btn-descargar">Descargar</a>
      <a href="https://github.com/InledGroup/swiftinstall" class="btn-codigo">Código</a>
    </div>
  </div>
  <div class="image-container">
    <img src={import.meta.env.BASE_URL + "/upload/SwiftInstall-banner-1.png"} alt="Imagen SwiftInstall">
  </div>
</div>
<!-- Begin  Tag -->
<div class="sf-root" data-id="3908950" data-badge="oss-users-love-us-white" style="width:125px">
    <a href="https://sourceforge.net/projects/swiftinstall/" target="_blank">Swiftinstall</a>
</div>
<script>(function () {var sc=document.createElement('script');sc.async=true;sc.src='https://b.sf-syn.com/badge_js?sf_id=3908950';var p=document.getElementsByTagName('script')[0];p.parentNode.insertBefore(sc, p);})();
</script>
<!-- End  Tag -->
<h1 class="h1init">Funciones</h1>

<div class="card-section-instalables">
  <div class="card-instalables">
    <img src={import.meta.env.BASE_URL + "/upload/swiftinstall/1.png"} alt="Captura de pantalla anuncio Swiftinstall">
    <h2>Instalación de apps</h2>
    <p>Instala aplicaciones descargadas fuera de la Store sin comandos ni terminal</p>
  </div>
  <div class="card-instalables">
    <img src={import.meta.env.BASE_URL + "/upload/swiftinstall/2.png"} alt="Captura de pantalla anuncio Swiftinstall">
    <h2>Eliminación de aplicaciones</h2>
    <p>Desinstala aplicaciones que no se listan en la Store buscándolas por su nombre rápidamente y pulsando en la X</p>
  </div>
  <div class="card-instalables">
    <img src={import.meta.env.BASE_URL + "/upload/swiftinstall/3.png"} alt="Captura de pantalla anuncio Swiftinstall">
    <h2>Corrige errores de instalación</h2>
    <p>Si estás en Debian (o derivadas) corrige los errores de instalación con un solo clic</p>
  </div>

  <div class="card-instalables">
    <img src={import.meta.env.BASE_URL + "/upload/swiftinstall/5.png"} alt="Captura de pantalla anuncio Swiftinstall">
    <h2>Análisis del sistema: caza de virus</h2>
    <p>Ejecuta el antivirus Clam de forma visual con controles avanzados para una máxima limpieza</p>
  </div>

  <div class="card-instalables">
    <img src={import.meta.env.BASE_URL + "/upload/swiftinstall/4.png"} alt="Captura de pantalla anuncio Swiftinstall">
    <h2>Limpia el sistema de basura</h2>
    <p>¿El sistema se te está llenando? ¡Límpialo con Swiftinstall!</p>
  </div>

</div>
