<h1 class="wemake-warp">Warp VPN GUI</h1>
<div class="descargar">
  <div class="content-descargar">
    <h1 class="h1-descargar">Interfaz gráfica para Warp VPN</h1>
    <p class="p-descargar">Ya no tendrás que ejecutar comandos de terminal para utilizar la VPN de Cloudflare</p>
    <div class="buttons">
      <a href="https://github.com/Inled-Group/warpvpn-gui/releases/download/v1.0/warp-exec-v1.deb" class="btn-descargar">Descargar</a>
      <a href="https://github.com/Inled-Group/warpvpn-gui" class="btn-codigo">Repositorio</a>
    </div>
  </div>
  <div class="image-container">
    <img src="https://sp-ao.shortpixel.ai/client/to_webp,q_glossy,ret_img,w_96,h_96/https://inled.es/wp-content/uploads/2024/12/warpupscale.png" alt="Pantallazo de Start">
  </div>
</div>

<h1 class="h1init">Preparando la instalación</h1>

<div class="card-section-instalables">
  <div class="card-instalables">
    <h2>Instala Warp VPN</h2>
    <a href="https://pkg.cloudflareclient.com/#debian">Instrucciones</a>
  </div>
  <div class="card-instalables">
    <h2>Activa Warp por primera vez</h2>
    <a href="https://developers.cloudflare.com/warp-client/get-started/linux/#initial-connection">Instrucciones</a>
  </div>
  <div class="card-instalables">
    <h2>Descarga e instala Warp VPN GUI</h2>
    <a href="https://github.com/Inled-Group/warpvpn-gui/blob/main/README.md">Instrucciones</a>
  </div>
</div>
