---
import Layout from "../layouts/Layout.astro";
---

<Layout>
<div class="welcome-container">
    <h1 class="wemake">We make a better world.</h1>
    <h2>En Inled creamos proyectos que hacen del mundo y tu día a día un lugar mejor</h2>
    <div style="height: 20vh;"></div>
    <div class="container">
        <div class="projects-grid">

            <!-- Proyecto 1: Launch the launcher -->
            <div class="project-card">
                <div class="card-icon-container">
                    <img src="https://inled.es/wp-content/uploads/2024/11/Launchthelauncher-ytlogo__1_-removebg-preview.png" alt="Launch the launcher" class="card-icon-img">
                </div>
                <h2 class="card-title">Launch the launcher</h2>
                <p class="card-description">
                    Tutoriales sobre nuevas tecnologías para profesores.
                    Los primeros tutoriales en español acerca de Bytello
                </p>
                <a href="/ltl" class="card-link">></a>
            </div>

            <!-- Proyecto 2: DSIGN -->
            <div class="project-card">
                <div class="card-icon-container">
                    <img src="https://inled.es/wp-content/uploads/2024/11/DSIGN-SIMPLE-WHITE-removebg-preview.png" alt="DSIGN" class="card-icon-img">
                </div>
                <h2 class="card-title">DSIGN</h2>
                <p class="card-description">
                    Diseño web
                </p>
                <a href="/dsign" class="card-link">></a>
            </div>

            <!-- Proyecto 3: TEA Friendly -->
            <div class="project-card">
                <div class="card-icon-container">
                    <img src="https://inled.es/wp-content/uploads/2024/11/tea-friendly.png" alt="TEA Friendly Logo" class="card-icon-img">
                </div>
                <h2 class="card-title">TEA Friendly</h2>
                <p class="card-description">
                    Certificación para centros educativos que atienden las
                    necesidades de las personas con autismo
                </p>
                <a href="http://teafriendly.es" class="card-link">></a>
            </div>

            <!-- Proyecto 4: SwiftInstall -->
            <div class="project-card">
                <div class="card-icon-container">
                    <img src="https://inled.es/wp-content/uploads/2025/03/swiftinstall-logo.png" alt="Swiftinstall Logo" class="card-icon-img">
                </div>
                <h2 class="card-title">Swiftinstall</h2>
                <p class="card-description">
                    Instala y elimina aplicaciones fuera de la Store de Linux
                </p>
                <a href="https://inled.es/swiftinstall/" class="card-link">></a>
            </div>

            <!-- Proyecto 5: Start -->
            <div class="project-card">
                <div class="card-icon-container">
                    <img src="https://inled.es/wp-content/uploads/2025/04/start-simple-blanco-sinfondo.png" alt="Start Logo" class="card-icon-img">
                </div>
                <h2 class="card-title">Start</h2>
                <p class="card-description">
                    Busca más rápido, accede al instante. Tu multibuscador y página de inicio
                </p>
                <a href="https://inled.es/about-start/" class="card-link">></a>
            </div>

            <!-- Proyecto 6: Warp VPN GUI -->
            <div class="project-card">
                <div class="card-icon-container">
                    <img src="https://sp-ao.shortpixel.ai/client/to_webp,q_glossy,ret_img,w_96,h_96/https://inled.es/wp-content/uploads/2024/12/warpupscale.png" alt="Logo 1.1.1.1 Warp VPN" class="card-icon-img">
                </div>
                <h2 class="card-title">Warp VPN GUI</h2>
                <p class="card-description">
                    Interfaz gráfica para la VPN de Cloudflare
                </p>
                <a href="https://inled.es/warp-gui/" class="card-link">></a>
            </div>

            <!-- Proyecto 7: Start Omnibox -->
            <div class="project-card">
                <div class="card-icon-container">
                    <img src="https://sp-ao.shortpixel.ai/client/to_webp,q_glossy,ret_img,w_128,h_128/https://inled.es/wp-content/uploads/2025/04/icon128.png" alt="Logo Start Omnibox" class="card-icon-img">
                </div>
                <h2 class="card-title">Start Omnibox</h2>
                <p class="card-description">
                    Escoja el motor de búsqueda que desea desde una ventana junto a la barra de Chrome. <br>

                    Ya no tendrá que navegar a cada motor de búsqueda para comenzar a buscar.
                </p>
                <a href="https://inled.es/start-omnibox/" class="card-link">></a>
            </div>

            <!-- Proyecto 8: Inled en Astro -->
            <div class="project-card">
                <div class="card-icon-container">
                    <img src="https://sp-ao.shortpixel.ai/client/to_webp,q_glossy,ret_img,w_512/https://inled.es/wp-content/uploads/2024/11/cropped-INLED_simple-removebg-preview.png" alt="Logo Inled" class="card-icon-img">
                </div>
                <h2 class="card-title">Inled hecho en Astro</h2>
                <p class="card-description">
                    Estamos preparando la nueva web de Inled, que dejará WordPress para pasarse a Astro.<br>
                    Actualmente está disponible una vista previa en Github mientras dure su construcción
                </p>
            </div>

            <!-- Proyecto 9: Cruz Cristiana en GNOME -->
            <div class="project-card">
                <div class="card-icon-container">
                    <img src="https://sp-ao.shortpixel.ai/client/to_webp,q_glossy,ret_img,w_500/https://inled.es/wp-content/uploads/2025/04/cruzcristiana-gnome-logo.png" alt="Logo Cruz Cristiana GNOME" class="card-icon-img">
                </div>
                <h2 class="card-title">Cruz Cristiana GNOME</h2>
                <p class="card-description">
                    Esta extensión de GNOME muestra la cruz de Cristo en la barra superior de GNOME para que Dios nos acompañe durante el uso del ordenador.
                </p>
                <a href="https://extensions.gnome.org/extension/8060/christian-cross-in-gnome-bar/" class="card-link">></a>
            </div>

        </div>
    </div>
</div>
</Layout>