<h1 class="wemake-start">Windows Error</h1>
<div class="descargar">
  <div class="content-descargar">
    <h1 class="h1-descargar">Los errores de Windows, ahora para Mac</h1>
    <p class="p-descargar">Simula un error crítico de Windows XP en tu Mac y recuerda los mejores momentos de Windows
    </p>
    <div class="buttons">
      <a href="https://github.com/Inled-Group/windowserror/releases/download/v2.0/WindowsError2.zip" class="btn-descargar">Descargar</a>
      <a href="https://github.com/Inled-Group/windowserror" class="btn-codigo">Código</a>
    </div>
  </div>
  <div class="image-container">
    <img src="https://inled.es/wp-content/uploads/2025/06/windowserror.bliss_.png" alt="Imagen WinError">
  </div>
</div>

<h1 class="h1init">Windows Error, listo para Mac</h1>

<div class="card-section-instalables">
  <div class="card-instalables">
    <img src="https://www.apple.com/newsroom/images/live-action/wwdc-2023/standard/privacy/Apple-WWDC23-privacy-logo-230605.jpg.news_app_ed.jpg" alt="Security">
    <h2>Seguro</h2>
    <p>Windows Error ha sido diseñado para no dañar su Mac y simular un error completamente ficticio <br>Puede acceder al <a href="https://www.virustotal.com/gui/file/cf8cfb0a6023bce10d197e6217f8ee31bb8f9bd39c6413165792b2c885288fbc">reporte de seguridad</a></p>
  </div>
  <div class="card-instalables">
    <img src="https://inled.es/wp-content/uploads/2025/06/aparienciawinerror.png" alt="Apariencia XP">
    <h2>Apariencia Windows XP</h2>
    <p>Una ventana con un parecido extraordinario a Windows XP</p>
  </div>
  <div class="card-instalables">
    <img src="https://i.scdn.co/image/ab67616d0000b273e33bc82b161649e1c43a9fcb" alt="Privacidad a full">
    <h2>Con Windows Error Remix</h2>
    <p>Además, para mayor disfrute, no solo suena el sonido de Critical Stop si no que suena la música <a href="https://youtu.be/D3-vBBQKOYU?si=ViFsSc72wqVKfDzm">Windows Error Remix</a></p>
  </div>
</div>

<h1 class="h1init">Instalación</h1>

<div class="card-section-instalables">
  <div class="card-instalables">
    <h2>Descomprima el .zip</h2>
    <p>Descomprima el fichero .zip para extraer el .app</p>
  </div>
  <div class="card-instalables">
    <h2>Mueva el .app a Aplicaciones</h2>
    <p>Mueva el fichero .app a Aplicaciones</p>
  </div>
  <div class="card-instalables">

    <h2>Ejecute y disfrute</h2>
    <p>Ejecute la aplicación y disfrute de la eXPeriencia retro</p>
  </div>
</div>
