---
interface Props {
    title?: string;
}

const { title = "Inled - We make a better world" } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/style.responsive.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/a3d5ef9bfb.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,1,0" />
        <title>{title}</title>
    </head>
    <body>
        <slot />
    </body>
    <script>
          // Usar 'client:load' o una directiva similar en Astro para hidratar este componente
  document.getElementById('menu-toggle')?.addEventListener('click', () => {
    document.querySelector('.mobile-menu')?.classList.toggle('active');
  });
    </script>
</html>
