---
import Layout from "../layouts/Layout.astro";
---

<Layout>
<div class="welcome-container">
    <h1 class="wemake">We make a better world.</h1>
    <h2>En Inled creamos proyectos que hacen del mundo y tu día a día un lugar mejor</h2>
    <div style="height: 20vh;"></div>
    <div class="container">
        <div class="projects-grid">

            <!-- Proyecto 1: Launch the launcher -->
            <div class="project-card">
                <div class="card-icon-container">
                    <img src="https://inled.es/wp-content/uploads/2024/11/Launchthelauncher-ytlogo__1_-removebg-preview.png" alt="Launch the launcher" class="card-icon-img">
                </div>
                <h2 class="card-title">Launch the launcher</h2>
                <p class="card-description">
                    Tutoriales sobre nuevas tecnologías para profesores.
                    Los primeros tutoriales en español acerca de Bytello
                </p>
                <a href="/ltl" class="card-link">></a>
            </div>

            <!-- Proyecto 2: DSIGN -->
            <div class="project-card">
                <div class="card-icon-container">
                    <img src="https://inled.es/wp-content/uploads/2024/11/DSIGN-SIMPLE-WHITE-removebg-preview.png" alt="DSIGN" class="card-icon-img">
                </div>
                <h2 class="card-title">DSIGN</h2>
                <p class="card-description">
                    Diseño web
                </p>
                <a href="/dsign" class="card-link">></a>
            </div>

            <!-- Proyecto 3: TEA Friendly -->
            <div class="project-card">
                <div class="card-icon-container">
                    <img src="https://inled.es/wp-content/uploads/2024/11/tea-friendly.png" alt="TEA Friendly Logo" class="card-icon-img">
                </div>
                <h2 class="card-title">TEA Friendly</h2>
                <p class="card-description">
                    Certificación para centros educativos que atienden las
                    necesidades de las personas con autismo
                </p>
                <a href="http://teafriendly.es" class="card-link">></a>
            </div>

            <!-- Proyecto 4: SwiftInstall -->
            <div class="project-card">
                <div class="card-icon-container">
                    <img src="https://inled.es/wp-content/uploads/2025/03/swiftinstall-logo.png" alt="Swiftinstall Logo" class="card-icon-img">
                </div>
                <h2 class="card-title">Swiftinstall</h2>
                <p class="card-description">
                    Instala y elimina aplicaciones fuera de la Store de Linux
                </p>
                <a href="https://inled.es/swiftinstall/" class="card-link">></a>
            </div>

            <!-- Proyecto 5: Start -->
            <div class="project-card">
                <div class="card-icon-container">
                    <img src="https://inled.es/wp-content/uploads/2025/04/start-simple-blanco-sinfondo.png" alt="Start Logo" class="card-icon-img">
                </div>
                <h2 class="card-title">Start</h2>
                <p class="card-description">
                    Busca más rápido, accede al instante. Tu multibuscador y página de inicio
                </p>
                <a href="https://inled.es/about-start/" class="card-link">></a>
            </div>

        </div>
    </div>
</div>
</Layout>